<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Invade\OpenWeather\Api\WeatherRepositoryInterface" type="Invade\OpenWeather\Model\WeatherRepository"/>
    <preference for="Invade\OpenWeather\Api\Data\WeatherInterface" type="Invade\OpenWeather\Model\Weather"/>
</config>
